<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Evaluación</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body>
    <form class="searcher js-searcher">
      <input class="input js-input" type="text" placeholder="Introduce tu búsqueda" />
      <input class="btn js-btn" type="submit" value="Buscar" />
    </form>
    <ul class="ul-series js-ul-series"></ul>
  </body>
</html>
